/* * {
  box-sizing: border-box;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;

  line-height: 1;
  display: block;
}

p {
  font-weight: 400;
  color: rgb(33, 42, 47);
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.5px;
  /* margin: 0px 0px 18px; */
  margin: 0;
  padding: 0px;
  vertical-align: baseline;

}

.reviews-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 24px;
}

.review {
  margin: 60px auto 84px;
}

/* ---------- REVIEWS OVERVIEW ---------- */

.reviews-overview-container {
  margin-bottom: 48px;
}

.reviews-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 32px;
  line-height: 1.31;
  font-weight: 700;
}

.reviews-overview-rating {
  margin-bottom: 36px;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

/* ---------- BIG RATING STAR  ---------- */

.overview-item-rating {
  margin-bottom: 0px;
}

.rating-star-big {
  width: 139px;
  display: flex;
  justify-content: space-between;
}

.big-icon .half-icon {
  display: block;
  width: 23;
  height: 23;
}

/* ---------- END OF BIG RATING STAR ---------- */

.rating-legend {
  text-align: left;
  margin-left: 24px;
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .rating {
    flex-direction: column;
    align-items: center;
  }
  .rating-legend {
    margin-left: 0;
  }
}

.reviews-overview-fit-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fit-score-text {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 6px;
}

.fit-score-chart {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  max-width: 357px;
}

.fit-score-chart-score {
  display: block;
  padding-top: 9px;
  padding-bottom: 42px;
}

.fit-score-ruler {
  background-color: rgb(184, 209, 220);
  height: 2px;
  position: relative;
}

.fit-score-marking-left {
  left: 0%;
  background-color: rgb(184, 209, 220);
  width: 2px;
  height: 18px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.fit-score-legend-left {
  left: 0%;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: absolute;
  top: 24px;
}

.fit-score-marking-center {
  left: 50%;
  background-color: rgb(184, 209, 220);
  width: 2px;
  height: 18px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.fit-score-legend-center {
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: absolute;
  top: 24px;

}

.fit-score-marking-right {
  left: 100%;
  background-color: rgb(184, 209, 220);
  width: 2px;
  height: 18px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.fit-score-legend-right {
  right: 0%;
  text-align: right;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: absolute;
  top: 24px;
}

.fit-score-marking-knob {
  left: 50%;
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background-color: rgb(33, 42, 47);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* ---------- REVIEWS LIST ---------- */

.reviews-list-container {
  margin-bottom: 24px;
}

.reviews-list-item {
  padding: 24px 0px;
  border-top: 1px solid rgb(211, 212, 213);
}

.reviews {
  display: flex;
}

strong {
  font-weight: 700;
}

.reviews-item-author-info {
  width: 23%;
}

/* ---------- SMALL RATING STAR ---------- */

.review-item-rating {
  width: 18%;
  margin-bottom: 12px;
}

.rating-star-small {
  display: flex;
  justify-content: space-between;
  width: 89px;
}

.small-icon {
  display: block;
  width: 13;
  height: 13;
}

/* svg:not(:root) {
  overflow: hidden;
} */

polygon {
  fill: rgb(33, 42, 47);
}

/* :not(svg) {
  transform-origin: 0px 0px;
} */

/* ---------- END OF SMALL RATING STAR ---------- */

.reviews-item-content {
  width: 59%;
}

@media (max-width: 991px) {
  .reviews {
    flex-direction: column;
  }
  .reviews-item-author-info,
  .review-item-rating,
  .reviews-item-content {
    width: 100%;
  }
}

/* ---------- LOADER BUTTON ---------- */

.reviews-loader {
  text-align: center;
}

.reviews-loader-button-container {
  margin-bottom: 24px;
}

button {
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 2px;
  background-color: rgb(33, 42, 47);
  color: rgb(255, 255, 255);
  /* text-align: center; */
  /* opacity: 1; */
  /* position: relative; */
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 18px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(33, 42, 47);
  /* text-decoration: none; */
  border-radius: 2px;
}

button:hover {
  background-color:  rgb(255, 255, 255);
  color: rgb(33, 42, 47);
}

.reviews-loader-count-text {
  margin-bottom: 24px;
}



